In [10]:
num = int(input("정수 입력 >> "))
if num%3==0 and num%5==0:
    # 여기서부터 if문에 해당하는 실행 문장!
    print(f"{num}은(는) 3과 5의 배수입니다.")
else :
    print(f"{num}은(는) 3과 5의 배수가 아닙니다.")

정수 입력 >> 15
15은(는) 3과 5의 배수입니다.

In [16]:
num1 = int(input("정수 입력 >> "))
num2 = int(input("정수 입력 >> "))

if num1>num2 :
    print("첫 번째 정수가 더 큽니다.")
elif num1==num2 :
    print("두 수가 똑같습니다.")
else :
    print("두 번째 정수가 더 큽니다.")

정수 입력 >> 15
정수 입력 >> 15
두 수가 똑같습니다.

In [24]:
score=int(input("점수 입력 >> "))

if 90<=score<=100 : #이렇게 해도 됨 파이썬은
    grade = 'A'
elif score>=80 and score<90 :
    grade = 'B'
elif score>=70 and score<80 :
    grade = 'C'
elif score>=60 and score<70 :
    grade = 'D'
else :
    grade = 'F'
    
print(f"{score}은 {grade}학점 입니다.")

점수 입력 >> 91
91은 A학점 입니다.

### 1. 리스트

In [27]:
a = [1,2,3]
a

[1, 2, 3]

In [28]:
b = ['a','b','c']
b

['a', 'b', 'c']

In [29]:
c = [1,2,'a','b',3]
c

[1, 2, 'a', 'b', 3]

In [30]:
d = [1,2,3,['a','b']]
d

[1, 2, 3, ['a', 'b']]

In [31]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

#### 리스트는 데이터의 형태에 상관없이 모두 한 곳에 담을 수 있다!

In [32]:
list1 = [1]
list1

[1]

In [33]:
list2 = []
list2

[]

In [34]:
print(type(list1))
print(type(list2))

<class 'list'>
<class 'list'>

In [35]:
a

[1, 2, 3]

In [36]:
a[0]

1

In [37]:
a[-1] # <- 리스트 맨 마지막

3

In [38]:
a[2], a[-1]

(3, 3)

In [40]:
a[0]+a[2] # 연산 가능함

4

In [44]:
list1 = [1,2,3,['a','b','c']]

In [45]:
list1

[1, 2, 3, ['a', 'b', 'c']]

In [49]:
#['a','b','c'] -> 추출하기!
list1[3]
temp = list1[3]
temp

['a', 'b', 'c']

In [52]:
# ['a','b','c'] 중에서 'b' 만 추출
list1[3][1] # <- 슬라이싱

'b'

In [53]:
list2 = [0,1,2,3,4]
list2

[0, 1, 2, 3, 4]

In [61]:
# list2 에서 1,2 가져오기 -> 슬라이싱 활용
# 리스트명[ 시작 이상 : 끝 미만 ]
list2[1:3]

[1, 2]

In [62]:
list3 = [1,2,3]
list4 = [3,4,5,6]
list4+list3

[3, 4, 5, 6, 1, 2, 3]

### 2. 리스트 값 추가하기

In [63]:
list2

[0, 1, 2, 3, 4]

In [64]:
#리스트명.append(데이터 값)
list2.append(5)

In [71]:
list2.append(6)
list2

[0, 1, 7, 7, 2, 3, 4, 5, 6, 6]

In [68]:
#리스트명.insert(인덱스, 데이터 값)
list2.insert(2, 7)

In [72]:
list2

[0, 1, 7, 7, 2, 3, 4, 5, 6, 6]

### 3. 리스트 값 수정하기

In [74]:
list2 = [ 0,1,7,2,3,4,5,6]

In [78]:
list2[2] = 10

In [80]:
list2

[0, 1, 10, 2, 3, 4, 5, 6]

In [82]:
list2[2:4] = [10] #범위를 묶어서 한번에 수정하는것
list2

[0, 1, 10, 3, 4, 5, 6]

### 4. 리스트 값 삭제

In [83]:
# 방법 1 : del 키워드 사용 -> 인덱스를 사용하여 자리값을 기준으로 삭제!
del list2[0] # < - del 리스트이름[인덱스]

In [84]:
list2

[1, 10, 3, 4, 5, 6]

In [85]:
#방법 2 : remove(데이터 값)
list2.remove(5)

In [96]:
list2

[1, 10, 3, 4, 6]

In [97]:
list2.remove(3)

In [99]:
list2

[1, 10, 4, 6]

In [101]:
#방법 3 : pop() -> 마지막 값을 반환 후 삭제!
list5.pop()

100

In [102]:
list5

[9, 77, 13, 51]

In [89]:
# 리스트의 순서(역순)를 바꾸틑 함수 ! -> reverse()
print('원본 : ', list3)
list3.reverse()
print('결과 : ', list3)

원본 :  [1, 2, 3]
결과 :  [3, 2, 1]

In [90]:
#sort() : 리스트 요소값들을 정렬하는 함수!
list4 = [9,77,13,51,100,3]
list4.sort()

In [91]:
list4

[3, 9, 13, 51, 77, 100]

In [92]:
# sorted()
list5 = [9,77,13,51,100,3]
sorted(list5)

[3, 9, 13, 51, 77, 100]

In [93]:
list5

[9, 77, 13, 51, 100, 3]

In [94]:
# 인덱스 값을 빠르게 찾는 함수 - > index(데이터 값)
list5.index(51)

3

In [103]:
#리스트의 길이값을 확인할 수 있는 함수 -> len(리스트)
len(list5)

4

### 5. 튜플

In [104]:
a = (1,2,3)
b = ('a','b')
c = (1,2,'a')
d = (1,2,('a','b'))
e = ()

In [108]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [109]:
list1 = [1]
tuple1 = (1,)

In [113]:
print(type(list1))
print(type(tuple1))

<class 'list'>
<class 'int'>

In [114]:
d

(1, 2, ('a', 'b'))

In [115]:
d[1]

2

In [116]:
d[2][1]

'b'

In [117]:
d.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [118]:
str1 = "파이썬 최고"

In [119]:
"파이썬" in str1

True

In [120]:
"파이썬" not in str1

False

### 6. 반복문

In [122]:
num = 1 
while num<=3 :
    print(num)
    num += 1

1
2
3

In [123]:
# "파이썬 최고" 10번 출력하기
cnt = 1

while cnt <= 10 :
    print(cnt, "파이썬 최고")
    cnt+=1

1 파이썬 최고
2 파이썬 최고
3 파이썬 최고
4 파이썬 최고
5 파이썬 최고
6 파이썬 최고
7 파이썬 최고
8 파이썬 최고
9 파이썬 최고
10 파이썬 최고

In [135]:
num = 1
sum = 0
while num<=100 :
    sum=sum+num
    num+=1

print(sum)

5050

In [132]:
num = int(input("정수 입력 >> "))
i=0
sum = 0
while i<=num :
    sum+=i
    i+=1

print(sum)

정수 입력 >> 10
55

In [145]:
while 1 :
    num1 = int(input("첫 번째 정수를 입력 >> "))
    num2 = int(input("두 번째 정수를 입력 >> "))
    
    if num1==0 and num2==0 :
        print("프로그램이 종료되었습니다.")
        break
        
    else :
        print("두 정수의 합 : ",num1 + num2)

첫 번째 정수를 입력 >> 10
두 번째 정수를 입력 >> 10
두 정수의 합 :  20
첫 번째 정수를 입력 >> 20
두 번째 정수를 입력 >> 20
두 정수의 합 :  40
첫 번째 정수를 입력 >> 13
두 번째 정수를 입력 >> 15
두 정수의 합 :  28
첫 번째 정수를 입력 >> 0
두 번째 정수를 입력 >> 0
프로그램이 종료되었습니다.